@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


::selection {
    background: rgba(255, 153, 0, 0.3);
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: rgba(255, 153, 0, 0.3);
    /* Gecko Browsers */
}

// Global styles
body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 100%;
    // background-color: #ECF0F1;
}
// Text styling
h1,
h2,
h3,
h4 {
    letter-spacing: 1px;
    // font-family: 'Open Sans', sans-serif;    
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

p {
    font-weight: 300;
}

// Button styles
.btn-default {
    background-color: transparent;
    border-color: #eb7f00;
    border-radius: 2px;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #eb7f00;
    // letter-spacing: 2px;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.btn-default-orange {
    padding: 10px;
    // width: 100%;
    background-color: #eb7f00;
    border-color: #eb7f00;
    border-radius: 0px;
    color: #FFF;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.btn-orange-icon {
    color: darken(#EB7F00, 15%);
}

.btn-orange {
    background-color: #eb7f00;
    border-color: #eb7f00;
    border-radius: 1px;
    color: #FFF;
    letter-spacing: 2px;
    padding-left: 2em;
    padding-right: 2em;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.btn-default:hover {
    background-color: #eb7f00;
    border-color: #eb7f00;
    border-radius: 1px;
    color: #FFF;
}

.btn-default-orange:hover {
    background-color: lighten(#eb7f00, 10%);
    border-color: lighten(#eb7f00, 10%);
    border-radius: 1px;
    color: #FFF;
}

.btn-contact {
    background-color: #eb7f00;
    border-color: #eb7f00;
    border-radius: 1px;
    color: #ECF0F1;
    letter-spacing: 2px;
    font-weight: 300;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.btn-contact:hover {
    border-radius: 5px;
    color: #FFF;
}

.btn-default:focus {
    background-color: #eb7f00;
    border-color: #eb7f00;
    color: #ECF0F1;
}

.btn-contact:focus {
    background-color: #eb7f00;
    border-color: #eb7f00;
    color: #ECF0F1;
}

h1 > small {
    font-weight: 300;
    color: $gray-light;
    font-size: $font-size-h4;
}

h2 > small {
    font-weight: 300;
    color: $gray-light;
    font-size: $font-size-h4;
}

h3 > small {
    font-weight: 300;
    color: $gray-light;
    // font-size: $font-size-h4;
}


.section-margin {
    margin-top: 50px;
    margin-bottom: 50px;
    @media all and (min-width: $screen-xs-min) {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.hiddenSpan {
  visibility: hidden;
}
.img-responsive {
    margin: 0 auto;
}

a, a:visited {
    color: #eb7f00;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: lighten(#eb7f00, 10%);
    text-decoration: none;
}

.grey-filter {
    filter: grayscale(70%);
}

// SECTION: Hero Section
.hero_section {
    position: relative;
    // background-color: #fff;
    background-color: #212b31;
    // background-image: url('../images/stardust.png');
    // background-repeat: repeat;
    // background-image: url('../images/mount_peak_2_33pc_black.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    background-attachment: fixed;
    // background: #232526;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // background-color: #262829;

    min-height: 70vh;
    // background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    /*color: #fff;*/
}

.arrow-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
}

.hide-overlay {
  overflow: hidden;
}

.hmdigital {
    h1 {
        font-size: 3em;
        font-weight: 300;
        letter-spacing: 4px;
        color: #fff;
    }

    h2 {
        letter-spacing: 1px;
        color: $gray-light;
    }

    h3 {
        font-size: $font-size-h3;
        letter-spacing: 4px;
        color: $gray-light;
    }

    i {
        color: #DB4105;
    }
    @media all and (min-width: $screen-xs-min) {
        font-size: 2em;
    }
}
// SECTION: Key points
#key-points {
    background-color: #fff;

    .col-md-4 {
        text-align: center;
        padding: 25px;
        @media all and (min-width: $screen-xs-min) {
            padding: 25px 125px;
        }
        @media all and (min-width: $screen-sm-min) {
            padding: 25px 125px;
        }
        @media all and (min-width: $screen-md-min) {
            padding: 50px;
        }
    }

    h1 {
        color: #eb7f00;
    }

    h3 {
        color: #eb7f00;
    }

    i {
        color: #777;
    }

    h2 {
        color: #eb7f00;

        i {
            color: #777;
        }
    }

    p {
        text-align: center;
    }
}
// SECTION: Responsive design
#responsive-design {
    background: #eee;

    .col-md-5 > img {
        margin: auto;
    }

    h1 {
        color: #eb7f00;
    }

    h3 {
        color: #eb7f00;
    }

    i {
        color: #777;
    }

    .responsive-design-text {
        padding: 25px;

        .orange-accent {
            color: #eb7f00;
            font-style: italic;
        }

        .row {
            margin-top: 25px;
            margin-bottom: 25px;
        }
        @media all and (min-width: $screen-sm-min) {
            padding: 10px 100px;
        }
    }
}
// SECTION: Feeling inspired
.parallax-window {
    min-height: 500px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color: #fff;
    }

    h1 small {
        color: darken(#fff, 10%);
    }

    .btn-default-orange {
        padding-left: 2em;
        padding-right: 2em;
    }
}
// SECTION: pricing
#pricing-section {
    background-color: #fff;
    .container-fluid {
        background-color: #262829;
        padding-left: 25px;
        padding-right: 25px;
        @media all and (min-width: $screen-md-min) {
            padding-left: 100px;
            padding-right: 100px;
        }
    }

    h1 {
        color: #eb7f00;
    }

    h3 {
        color: #eb7f00;
    }

    i {
        color: #777;
    }

    .col-md-6 {
        padding: 25px;
    }
}
// SECTION: portfolio
#portfolio-section {
    background: #FFF;

    h1 {
        color: #eb7f00;
    }

    .col-lg-6 {
        padding: 25px;
    }
}
// Contact form
#contact-section {
    background-color: #fff;
    h1 {
        color: #eb7f00;
    }
}
/* Input Styles */
.form {
    width: 100%;
    padding: 15px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin-bottom: 25px;
    color: #727272 !important;
    font-size: 13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.form:hover {
    border: 1px solid lighten(#eb7f00, 25%);
}

.form:focus {
    color: white;
    outline: none;
    border: 1px solid lighten(#eb7f00, 25%);
}

.textarea {
    height: 200px;
    max-height: 200px;
    max-width: 100%;
}

center {
    margin-top: 330px;
}

input {
    position: relative;
    z-index: 9999;
}

.success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.error {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
// SECTION: footer
.display-none {
    display: none;
}

#footer {
    background-color: #212b31;
    color: #eee;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

    i {
        color: #777;
    }

    .col-xs-4 {
        padding: 25px;
    }

    h3 {
        color: #FFF;
    }

    p {
        color: #777;
    }

    .section-margin {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    a {
        .circle-color {
            color: #eb7f00;
        }

        .icon-color {
            color: #fff;
        }
    }

    a:hover {
        .circle-color {
            color: lighten(#eb7f00, 10%);
        }
    }

    a:focus {
        .circle-color {
            color: lighten(#eb7f00, 10%);
        }
    }
}



// More styles

// .navbar-inverse {
//     background-color: transparent;
//     border-color: transparent;
// }

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}


.example3 .navbar-brand {
  height: 100px;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}


.form-test {
}

.form-side {
}

.input-control * {
  width: 100%;
}

.hm-button-round {
  @extend .btn;
  @extend .btn-primary;
  border-radius: 2px;
  height: 50px;
  width: 100%;
  background-color: #EB7F00;
  border-color: #EB7F00;
  margin-top: 25px;
}

.mg-top {
    margin-top: 50px;
}

.logo-padding {
    padding: 50px;
}